@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/Gilroy/Gilroy-Light.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
    font-display: swap;
}


* {
    box-sizing: border-box;
  }


body{
    margin: 0;
}

.fixed_background{
    background-image: url('../images/shkaf-kupe-v-koridor-1.webp');
    background-size: 100vw 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1000;
}

body.hidden{
    overflow: hidden;
}


.navbar{
    display: flex;
    position: fixed;
    list-style: none;
    align-items: center;
    right: 0;
    z-index: 100;
    margin: 0;
}
.navbar__background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #1A2C38;
    border-bottom-left-radius: 20px;
    z-index: -1;
    top: -100px;
    transition: all 0.5s ease-in;
}

.navbar__background.show{
    top: 0;
}

.navbar__item{
    margin: 20px;
}

.navbar__item:nth-child(1){
    margin: 0 35px 0 20px;
    margin-top: -100px;
    transition: all 0.5s ease-in;
}

.navbar__item:nth-child(1).show{
    margin-top: 5px;
}

.navbar__item img{
    width: 90px;
}

.navbar__item:nth-child(1) a:hover::after{
    width: 0;
}


.navbar__item a{
    text-decoration: none;
    color: #AD9C7E;
    font-family: "Gilroy Light";
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.5s;
}
.navbar__item a:hover{
    text-shadow: 0 0 5px #fff;
}

.navbar__item a:after {
    background-color: #AD9C7E;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.navbar__item a:hover::after{
    width: 100%;
}


.navbar__item button{
    color: #AD9C7E;
    font-family: "Gilroy Light";
    text-transform: capitalize;
    font-size: 20px;
    border: solid 1px #AD9C7E;
    background: none;
    padding: 5px 20px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar__item button:hover{
    color: #fff;
    background: #AD9C7E;
    border: solid 1px #fff;
    box-shadow: 0 0 5px 5px rgba(173, 156, 126, 0.5);
}

.container {
    width: 100%;
    display: flex;
    min-height: 700px;
}
.logo {
    flex: 1;
    background: #1A2C38;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__img{
    width: 55%;
}
.call_to_action {
    flex: 1;
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.call_to_action::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/furniture_firstblock.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.call_to_action::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.call_to_action p{
    font-size: 40px;
    font-family: "Gilroy ExtraBold";
    color:rgb(173, 156, 126);
    width: 80%;
}

.call_to_action__buttons{
    width: 80%;
}

.call_to_action__buttons button{
    font-size: 36px;
    font-family: "Gilroy Light";
    border: #ad9c7e solid 2px;
    background: none;
    color: #AD9C7E;
    padding: 8px 25px;
    margin-right: 40px;
    box-shadow: 0 0 10px 5px rgba(173, 156, 126, 0.25);
    transition: all 0.3s ease-in-out;
}

.call_to_action__buttons button:hover{
    transform: scale(1.05);
    cursor: pointer;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);;
}

.call_to_action__buttons a button{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);
    background: #AD9C7E;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.call_to_action__social
{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.call_to_action__social img:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25)
}


.call_to_action__social img
{
    width: 40px;
    margin: 5px;
    transition: all 0.3s ease-in;
    border-radius: 50%;
}

.about_us_block{
    background: rgba(173, 156, 126, 0.9);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 180px;
}

/* .about_us_block::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/shkaf-kupe-v-koridor-1.webp");
    background-position: right;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
} */


.about_us_block h1{
    font-size: 72px;
    margin: 0;
    font-family: "Gilroy ExtraBold";
    color: #fff;
    padding: 40px 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.about_us__list {
    list-style: none;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background:rgba(255, 255, 255, 0.5);
    box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.25);
}
.about_us__list__items {
    margin: 15px;
    background: #fff;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    flex: 1;
}

.about_us__list__items:last-child{
    display: none;
}

.counter{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

.counter::after{
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    border: 10px solid rgb(210, 235, 255);
    top: 0px;
    left: 0px;
}
.number{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 68px;
    transform: translate(-50%, -50%);
    font-family: "Roboto Regular";
    color: rgba(26, 63, 87, 0.65);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.counter__container .number{
    position: static;
    font-size: 44px;
    transform: none;
}

.number.visible{
    opacity: 1;
}

.number.f-s44{
    font-size: 44px;
}

.number.f-s54{
    font-size: 54px;
}

.counter__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.counter__container span{
    font-size: 44px;
    font-family: "Roboto Regular";
    color: rgba(26, 63, 87, 0.65);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.counter__container span.visible{
    opacity: 1;
}


.about_us__list__items svg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.about_us__list__items svg circle{
    stroke-dasharray: 0, 440;
    stroke-dashoffset: 0;
    stroke-width: 10px;
    stroke: rgba(64, 173, 255, 0.6);
    fill: none;
} 


.about_us__list__items svg circle.animate{
    animation: countdown 2s linear;
  }
  
  
  @keyframes countdown{
    0%{
        stroke-dasharray: 0, 440;
    }
    100%{
      stroke-dasharray: 440, 0;
    }
  }
  
  

.text{
    color: rgba(26, 63, 87, 0.65);
    font-family: "Roboto Regular";
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: 30px 0;
    height: 40px;
}

  .service_block{
    width: 100%;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: -6%;
    padding-bottom: 5%;
}

.service_block::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/dizainerskii-shkaf.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}


.service_block::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(26, 44, 56, 0.9);
}

.service_block__container{
    width: 70%;
    z-index: 2;
    margin-top: 6%;
}

.service_block__container h1{
    font-size: 72px;
    text-align: center;
    font-family: "Gilroy ExtraBold";
    margin: 0;
    color: rgb(173, 156, 126);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
}

.service_block__list{
    list-style: none;
    padding: 0;
}
.list_item{
    display: flex;
    flex-wrap: wrap;
}

.list_item.reverse{
    justify-content: flex-end;
}

.list_item__content{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.list_item__content.reverse{
    flex-direction: row-reverse;
}

.list_item img{
    width: 12%;
}

.list_item:last-child img{
    transform: translateX(-5px);
}
.list_item p{
    color: rgb(173, 156, 126);
    font-size: 30px;
    font-family: "Gilroy ExtraBold";
    max-width: 60%;
    margin: 0 50px 0 50px;
}

.list_item span{
    display: block;
    width: 88%;
    height: 2px;
    background-color: rgb(173, 156, 126);
    position: relative;
    margin: auto;
}

.list_item span::after{
    content: "";
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: rgb(173, 156, 126);
    bottom: 0;
    left: 0;
}

.list_item span::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: rgb(173, 156, 126);
    top: 0;
    right: 0;
}

.way_reverse{
    transform: scale(-1, 1);
}

.flex-end{
    align-self: flex-end;
}

.team {
    background-color: rgb(173, 156, 126, 0.8);
    width: 100%;
    margin-top: -6%;
    position: relative;
}


.team__header{
    font-size: 72px;
    margin: 0;
    font-family: "Gilroy ExtraBold";
    color: #fff;
    padding: 6% 0 0 0;
    text-shadow: 0 4px 4px rgb(0 0 0 / 50%);
    text-align: center;
}
.team__list {
    list-style: none;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 5;
    position: relative;
    flex-wrap: wrap;
}
.team__list__item{
    margin: 30px; 
    width: 20%;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    padding-top: 80px;
    background: rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.team__list__item__note{
    position: absolute;
    width: 90%;
    height: 50px;
    left: -22px;
    background: #fff;
    top: 25px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.team__list__item__note p{
    color: rgb(173, 156, 126);
    font-family: 'Gilroy ExtraBold';
    font-size: 20px;
    padding-left: 15%;
    text-shadow: 2px 2px 3px rgb(173 156 126 / 25%);
}

.team__list__item__note::after{
    content: "";
    position: absolute;
    top: 100%;
    background: rgb(200, 200, 200);
    height: 30px;
    width: 20px;
    z-index: -1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: 0;
}

.team__list__item__note::before{
    content: "";
    position: absolute;
    top: 75%;
    left: 0;
    background: #fff;
    height: 30px;
    width: 6%;
    z-index: -100;
}



.team__list__item__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.team__list__item__img{
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}

.team__list__item__content p{
    margin: 30px 0;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold';
    color: white;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.our_work{
    max-width: 100vw;
    background-color: #1A2C38;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    position: relative;
    z-index: 2;
}



.our_work_container{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 20px 5% 20px;
}

.our_work__header{
    font-size: 72px;
    text-align: center;
    font-family: "Gilroy ExtraBold";
    margin: 0;
    padding: 6vh 0;
    color: rgb(173, 156, 126);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
}
  
  .slides{
    margin: 0.6vw;
    border-radius: 20px;
    height: 90vh;
    flex-grow: 1;
    width: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .slides:hover{
    box-shadow: 0 0 15px #AD9C7E;
  }
  
  .slides.active{
    width: 60%;
  }
  
  .slides .slides__content{
    color: #fff; 
    position: absolute;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    width: 60%;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
  }

  .slides__content div{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      backdrop-filter: blur(3px);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 15px;
  }
  
  .slides.active .slides__content{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  
  .slides:nth-child(1){
    background-image: url("../images/wall_in_hall.webp");
  }
  
  .slides:nth-child(2){
    background-image: url("../images/modern.webp");
  }
  
.slides:nth-child(3){
    background-image: url("../images/industrial.webp");
  }
  
.slides:nth-child(4){
    background-image: url("../images/shkaf_kupe.webp");
  }
  
.slides:nth-child(5){
    background-image: url("../images/white_kitchen.webp");
  }
  
.slides__content h3{
    font-family: 'Gilroy ExtraBold';
    font-size: 24px;
    margin: 0;
    position: relative;
}
.slides__content p{
    font-family: 'Gilroy Light';
    font-size: 18px;
    position: relative;
}

.contacts_block{
    width: 100%;
    background: rgba(173, 156, 126, 0.9);
    position: relative;
    margin-top: -50px;
}

.contacts_block::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/kupe.webp");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}

.contacts__header{
    font-size: 72px;
    margin: 0;
    font-family: "Gilroy ExtraBold";
    color: #fff;
    padding: 80px 0 50px 0;
    text-shadow: 0 4px 4px rgb(0 0 0 / 50%);
    text-align: center;
}

.contacts{
    width: 100%;
    height: 70vh;
    display: flex;
    min-height: 400px;
}

.contacts__item{
    width: 50%;
    height: 100%;
    color: white;
}

.contacts__item:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacts__item h3{
    font-size: 48px;
    margin: 30px;
    text-shadow: 0 4px 4px rgb(0 0 0 / 50%);
    font-family: 'Gilroy ExtraBold';
}

.contacts__data{
    align-self: flex-start;
    margin-left: 50px;
    width: 80%;
}

.contacts__item p{
    font-size: 30px;
    margin: 0 0 20px 0;
    text-shadow: 0 4px 4px rgb(0 0 0 / 50%);
    font-family: 'Gilroy ExtraBold';
}

.contacts__data p:nth-child(3), .contacts__data p:nth-child(4){
    margin-left: 55px;
}


.map{
    width: 100%;
    height: 100%;
}

.icon{
    height: 30px;
    float: left;
    margin-right: 20px;
    transform: translateY(2px);
}

.contacts__social{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social__icons img:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25)
}


.social__icons img
{
    width: 60px;
    margin: 10px;
    transition: all 0.3s ease-in;
    border-radius: 50%;
}

footer{
    width: 100%;
    text-align: center;
}

footer hr{
    width: 80%;
    border: none;
    height: 3px;
    background: white;
    margin: 50px auto;
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25) ;
}

footer h3{
    font-size: 24px;
    font-family: 'Gilroy ExtraBold';
    color: white;
    margin: 0;
    padding: 10px 0 60px 0;
}

.mobileMenu{
    display: none;
}

.toggle{
    display: none;
}

.backlayer, .consultation_backlayer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}


.leadblock{
    position: absolute;
    width: 92vw;
    margin: auto;
    top: 5vh;
    left: 4vw;
    background-color: white;
    z-index: 30;
    height: 90vh;
}

.helperlayer{
    width: 100%;
    height: 100%;
}

.consultationblock{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #1A2C38;
    border-radius: 20px;
    box-shadow: 0 0 80px 50px rgba(173, 156, 126, 0.5);
    border-top: solid #AD9C7E 2px;
    border-left: solid #AD9C7E 2px;
    min-width: 450px;
    transform: translate(-50%, -50%);
}

.consultationblock__icon{
    width: 100px;
    height: 100px;
    position: absolute;
    background: #1A2C38;
    border: solid #AD9C7E 2px;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.consultationblock__icon ion-icon{
    color: #AD9C7E;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
}

.consultationblock__form{
    width: 80%;
    height: 80%;
    margin-top: 80px;
    margin-left: 10%;
}

.consultationblock__form label{
    font-family: 'Gilroy ExtraBold';
    color: #AD9C7E;
    font-size: 24px;
}

.consultation_access{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}



.consultation_access .access_conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1A2C38;
    border-radius: 20px;
    box-shadow: 0 0 80px 50px rgba(173, 156, 126, 0.5);
    border-top: solid #AD9C7E 2px;
    border-left: solid #AD9C7E 2px;
    width: 25%;
    z-index: 150;
    text-align: center;
    padding: 60px 20px;
}


.access_text{
    color: rgb(173, 156, 126);
    font-family: 'Gilroy ExtraBold';
    font-size: 28px;
}

.access_icon{
    width: 100px;
    height: 100px;
    position: absolute;
    background: #1A2C38;
    border: solid #AD9C7E 2px;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.access_icon ion-icon{
    color: #AD9C7E;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    transform: translate(-50%, -50%);
}


.forminput{
    padding: 10px 10px;
    width: 100%;
    margin: 10px 0 25px 0;
    font-size: 18px;
    outline: none;
    border: none;
    position: relative;
    border-radius: 5px;
    color: #AD9C7E;
    background-color: #fff;
    transition: 0.3s;
}



.forminput._error{
    box-shadow: 0 0 10px 5px tomato;
}

.form_alert{
    position: relative;
    transition: all 0.5s linear;
}


.form_alert::before{
    content: "";
    position: absolute;
    color: red;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-family: 'Gilroy Light';
}

.form_alert._error::before{
    content: "*Заполните обьязательное поле";
    animation: viz 0.5s forwards;
}

@keyframes viz {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.form_alert._error_phone::before{
    content: "*Введены некоректные данные";
    animation: viz 0.5s forwards;
}

.forminput::placeholder{
    color: #AD9C7E;
    font-family: 'Gilroy Light';
}

.forminput:focus{
    box-shadow: 0 0 10px 5px #AD9C7E;
}

.consultationblock__form textarea{
    height: 120px;
    resize: none;
    margin-bottom: 0;
}


.wave-btn {
	width: 280px;
	height: 60px;
	display: flex;
    border: none;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius: 10px;
	text-decoration: none;
    cursor: pointer;
    margin: 40px 0;
}

.wave-btn:hover {
	border-radius: 10px;

	transition: all 0.5s ease 0.2s;
	-webkit-transition: all 0.5s ease 0.2s;
	-moz-transition: all 0.5s ease 0.2s;
	-ms-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;

	-webkit-box-shadow: 0 0 40px rgba(173, 156, 126, 0.6);
	box-shadow: 0 0 40px rgba(173, 156, 126, 0.6);

}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}

.wave-btn__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #AD9C7E;
	top: 0;
	left: 0;
	-webkit-box-shadow: inset 0 0 50px #1A2C38;
	box-shadow: inset 0 0 50px #1A2C38;

	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background-color: #1A2C38;
	border-radius: 48%;

	animation: waves 8s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(26, 44, 56, 0.5);
	border-radius: 44%;

	animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);

	}
}


@media (max-width: 640px){


    .mobileMenu{
        position: fixed;
        display: block;
        top: 20px;
        left: -64px;
        background: #1A2C38;
        z-index: 120;
        padding: 10px 0 10px 5px;
        border-radius: 15px;
        width: 54px;
        transition: all 0.3s linear;
        overflow: hidden;
    }
    
    .mobileMenu.active{
        width: 65%;
        left: 10px;
    }
    
    .toggle{
        position: fixed;
        top: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        background: #1A2C38;
        z-index: 120;
        cursor: pointer;
        border-radius: 15px;
        display: block;
        box-shadow: 0 0 5px 4px rgba(173, 156, 126, 0.3);
    }
    
    .toggle ion-icon{
        color: #AD9C7E;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        transform: translate(-50%, -50%);
    }
    
    .toggle.active .open, .toggle .close{
        display: block;
    }
    
    .toggle.active .close, .toggle .open{
        display: none;
    }


    .consultationblock{
        min-width: 0;
        width: 90vw;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        box-shadow: 0 0 50px 20px rgba(173, 156, 126, 0.3);
    }
    
    .consultationblock__icon{
        width: 100px;
        height: 100px;
        position: absolute;
        background: #1A2C38;
        border: solid #AD9C7E 2px;
        border-radius: 50%;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .consultationblock__icon ion-icon{
        color: #AD9C7E;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 60px;
        transform: translate(-50%, -50%);
    }
    
    .consultation_access .access_conteiner{
        width: 80%;
    }
    
    .wave-btn {
        width: 70vw;
        margin: 30px 0;
    }

    .wave-btn__waves{
        width: 70vw;
        height: 70vw;
    }
    
    .mobileMenu ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    
    .mobileMenu_list{
        margin: 0;
    }
    
    .mob_icon{
        padding-right: 20px;
    }
    
    .mob_icon ion-icon{
        transform: translateY(3px);
    }
    
    
    .mobileMenu_list a{
        color: #AD9C7E;
        text-decoration: none;
        font-size: 1.5em;
        font-family: 'Gilroy Light';
        display: block;
        padding: 10px;
        width: 100%;
        display: flex;
    }
    
    .mobileMenu_list a:hover{
        color: white;
        background: #AD9C7E;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .mob_menu_text{
        white-space: nowrap;
    }

    .navbar{
        display: none;
    }

    .container{
        flex-direction: column;
    }

    .logo{
        max-height: 80px;
    }

    .logo__img{
        height: 60px;
        width: auto;
    }

    .call_to_action p{
        font-size: 24px;
        width: 90%;
    }

    
    .call_to_action__buttons{
        width: 90%;
    }


    .call_to_action__buttons button{
        font-size: 24px;
        padding: 5px 10px;
        margin-right: 20px;
    }

    .about_us_block{
        padding-bottom: 80px;
        background: rgba(173, 156, 126, 0.7);
    }

    .about_us_block::before{
        background-image: url('https://images.unsplash.com/photo-1595428774223-ef52624120d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y3VwYm9hcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60');
    }

    .about_us_block h1{
        font-size: 48px;
        text-align: center;
    }
    
    .about_us__list {
        width: 90%;
        padding: 10px;
    }

    .text{
        height: auto;
    }

    .service_block{
        width: 100%;
        clip-path: polygon(0 1.5%, 100% 0, 100% 98.5%, 0% 100%);
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 2;
        margin-top: -15%;
        padding-bottom: 5%;
    }
    .service_block__container{
        margin-top: 50px;
        width: 90%
    }

    .our_work__header, .service_block__container h1{
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
    }

    .service_block__container h1{
        font-size: 54px;
        text-align: center;
    }

    .list_item__content{
        flex-direction: column;
        width: 100%;
    }
    
    .list_item__content.reverse{
        flex-direction: column;
    }

    .list_item{
        flex-direction: column;
    }

    .flex-end{
        align-self: center;
    }

    .list_item img{
        width: 40%;
        align-self: center;
    }

    .list_item span{
        width: 0;
    }

    .list_item p{
        margin: 20px 0 ;
        max-width: 90%;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.1rem;
    }
    .list_item span::before{
        left: 0;
    }

    .list_item:last-child img{
        transform: none;
    }

    .team{
        margin-top: -12%;
    }

    .team::before{
        background-image: url('https://images.unsplash.com/photo-1595515106864-077d30192c56?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y3VwYm9hcmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
    }

    .team__header{
        font-size: 48px;
        padding-top: 10%;
        width: 70%;
        margin: auto;
    }

    .team__list{
        flex-direction: column;
        width: 70%;
    }

    .team__list__item{
        flex: 1;
        width: auto;
        margin: 15px 0;
    }

    .team__list__item__img{
        width: 80%;
        height: auto;
    }

    .team__list__item__content p{
        font-size: 14px;
    }

    .team__list__item__note p{
        font-size: 16px;
    }

    .team__list__item__note{
        height: 40px;
        left: -20px;
    }

    .team__list__item__note::before{
        height: 25px;
    }

    .team__list__item__note::before{
        height: 25px;
        width: 18px;
    }

    .team__list__item:nth-child(6),
    .team__list__item:nth-child(7),
    .team__list__item:nth-child(8){
        display: none;
    }

    .our_work{
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
    }

    .our_work__header{
        font-size: 52px;
    }

    .our_work_container{
        flex-direction: column;
        width: 100%;
        padding-bottom: 30px;
    }

    .slides.active{
        width: 100%;
        height: 50vh;
    }

    .slides{
        width: 100%;
        height: 8vh;
        margin: 5px 0;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
    }

    .slides .slides__content{
        width: 90%;
        left: 5%;
        bottom: 5%;
        padding: 10px;
    }

    .slides__content h3{
        font-size: 18px;
    }

    .slides__content p{
        font-size: 14px;
    }

    .contacts_block {
        background: rgb(173, 156, 126, 0.9);
    }

    .contacts_block::after{
        content: none;
    }


    .contacts__header{
        font-size: 56px;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    
    .contacts__data p:nth-child(3), .contacts__data p:nth-child(4) {
        margin-left: 43px;
    }

    .contacts{
        flex-direction: column;
        height: auto;
    }

    .contacts__item{
        width: 100%;
    }

    .contacts__item:nth-child(1){
        order: 2;
        height: 400px;
    }

    .contacts__item h3{
        margin: 0;
        font-size: 36px;
    }

    .contacts__data{
        margin: 40px 20px;
    }

    .contacts__item p{
        font-size: 20px;
    }
    .icon{
        height: 20px;
    }

    .social__icons img{
        width: 40px;
    }

    .social__icons{
        margin-bottom: 20px;
    }
}


@media  (max-width: 375px){ 
    
    .mobileMenu_list a{
        font-size: 18px;
    }

    .consultationblock{
        bottom: 0;
        top: auto;
        transform: none;
    }
    .consultationblock__form label{
        font-size: 20px;
    }

    .forminput{
        padding: 5px;
    }

    .consultationblock__form textarea{
        height: 80px;
    }
    .consultationblock__icon{
        width: 80px;
        height: 80px;
        top: -40px;
    }

    .consultationblock__icon ion-icon{
        font-size: 50px;
    }

    .consultationblock__form{
        margin-top: 50px;
    }

    .call_to_action__buttons button{
        font-size: 18px;
        margin-right: 10px;
    }


    .slides .slides__content{
        padding: 10px;
    }

    .slides__content p{
        margin-bottom: 0;
    }

    .contacts__item p{
        font-size: 1.2em;
    }

    
}